.container {
  min-height: 100vh;
  padding: 3rem 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.header {
  padding-bottom: 3rem;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.title span {
  color: #0070f3;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr 125px;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  row-gap: 20px;
}

.form label {
  text-align: end;
}

.form input {
  font-size: 1.5rem;
  padding: 5px 10px;
  width: 500px;
  max-width: 90vw;
}

.form button {
  padding: 8px 16px;
  font-size: 1.5rem;
  cursor: pointer;
}

.result {
  margin: 4rem 0;
  line-height: 1.5;
  text-align: center;
}

.result .code {
  cursor: pointer;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media screen and (max-width: 900px) {
  .form {
    grid-template-columns: auto;
  }

  .form label {
    text-align: start;
  }
}

@media screen and (max-width: 440px) {
  .title {
    font-size: 3rem;
  }

  .result span {
    display: block;
  }

  .code {
    word-break: break-all;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }
}
